.parent {
    height: 250vh;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(20,1fr);
    background-color: beige;
}

.parent > div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
}

#div1 {
    grid-column: 1/6;
    grid-row: 1/4;
    background-color: white;
    text-align: center;
    background-image: url(https://static.vecteezy.com/system/resources/previews/017/055/715/non_2x/contact-us-button-web-banner-templates-illustration-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: center;
}

#div2 {
    grid-column: 1/6;
    grid-row: 4/5;
    background-color: rgb(238, 214, 253);
}
.txt1 {
    align-self: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(18, 57, 90);
    font-size: 1.4em;
}

#div3 {
    background-color: black;
    grid-column: 2/3;
    grid-row: 5/8;
    background-image: url(https://i.pinimg.com/736x/1e/83/cf/1e83cf51c8012a56c3dc145dbd611c5f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#div4 {
    background-color: black;
    grid-column: 3/4;
    grid-row: 5/8;
    background-image: url(https://cdn.shopify.com/s/files/1/1759/0923/files/4588813eefe6b6536bfa7e1d550434d0_480x480.jpg?v=1693652981);
    background-position: center;
    background-size: 170px;
    background-repeat: no-repeat;
}

#div5 {
    background-color: brown;
    grid-column: 4/5;
    grid-row: 5/8;
    background-image: url(https://i.pinimg.com/736x/61/4e/76/614e76754b552431cbcac952443298eb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#div6 {
    background-color:rgb(18, 57, 90);
    grid-column: 2/3;
    grid-row: 8/9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#div7 {
    background-color:rgb(18, 57, 90);
    grid-column: 3/4;
    grid-row: 8/9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#div8 {
    background-color:rgb(18, 57, 90);
    grid-column: 4/5;
    grid-row: 8/9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#div9 {
    background-color: rgb(238, 214, 253);
    grid-column: 1/6;
    grid-row: 9/10;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(18, 57, 90);
    font-size: 1.4em;
}

#div10 {
    background-color: beige;
    grid-column: 1/4;
    grid-row: 10/13;
    background-image: url(https://imageio.forbes.com/blogs-images/merrillbarr/files/2017/07/NUP_178462_0004.jpg?height=474&width=711&fit=bounds);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#div11 {
    background-color: blue;
    grid-column: 4/6;
    grid-row: 10/13;
    background-image: url(https://m.media-amazon.com/images/M/MV5BNGFkYmMwYzUtZjVmZi00ZDQ3LTgxNjItMmI1ZDYyMTE5MGU3XkEyXkFqcGdeQXVyNTk3MzkxNjQ@._V1_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#div12 {
    background-color: cadetblue;
    grid-column: 1/3;
    grid-row: 13/16;
    background-image: url(https://mosscontenthub.rlab.net/wp-content/uploads/2018/03/Header-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#div13 {
    background-color: burlywood;
    grid-column: 3/6;
    grid-row: 13/16;
    background-image: url(https://filmandfurniture.com/wp-content/uploads/2019/11/S07E01Promo03_-_Harvey_Mike.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#div14 {
    background-color: aqua;
    grid-column: 1/2;
    grid-row: 5/9;
    background-image: url(https://www.usnews.com/object/image/00000173-10f7-dc82-ad7b-74f7e1830001/200702-semiconductorchip-stock.jpg?update-time=1593717620281&size=responsive640);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#div15 {
    background-color: aqua;
    grid-column: 5/6;
    grid-row: 5/9;
    background-image: url(https://imageio.forbes.com/specials-images/dam/imageserve/930116744/960x0.jpg?height=473&width=711&fit=bounds);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#div16 {
    background-color: bisque;
    grid-column: 1/6;
    grid-row: 16/21;
    background-image: url(https://sm.mashable.com/t/mashable_in/photo/default/suits-series-finale-review-when-its-about-endings-fan-servic_8u4d.1248.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#footer {
    flex-direction: row;
    display: flex; 
    justify-content: space-evenly;
}

.twitter {
    width: 80px;
    height: 80px;
}
.insta {
    width: 80px;
    height: 80px;
}
.facebook {
    width: 80px;
    height: 80px;
}
.gmail {
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
