.parent {
    height: 180vh;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 0px;
    background-color: #eed6fd;
}

.parent > div {
    border: 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: beige;
}

#d1 {
    background-color: rgb(18, 57, 90);
    grid-column: 1/6;
    grid-row: 1/6;
    background-image: url(https://m-cdn.phonearena.com/images/article/64576-wide-two_1200/The-Best-Phones-to-buy-in-2024---our-top-10-list.jpg?1712577497);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    color: white;
}

#d2 {
    background-color:rgb(18, 57, 90);
    grid-column: 1/6;
    grid-row: 6/7;
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    color: #ffffff;
}   

#d3 {
    grid-column: 1/6;
    grid-row: 7/8;
    background-color:beige;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
}
#d4 {
    grid-column: 1/3;
    grid-row: 8/10;
    background-color:  rgb(238, 212, 255);
    font-size: 1.2em;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
    padding-right: 5px;
}
#d5 {
    grid-column: 3/6;
    grid-row: 8/10;
    background-color:rgb(18, 57, 90);
    font-size: 1.2em;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#d6 {
    grid-column: 1/6;
    grid-row: 14/15;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
}

#d7 {
    grid-column: 1/6;
    grid-row: 15/16;
    flex-direction: row;
    display: flex; 
    justify-content: space-evenly;
}

#d8 {
    grid-column: 3/6;
    grid-row: 10/14;
    background-color: rgb(18, 57, 90);
}

#d9 {
    grid-column: 1/3;
    grid-row: 10/14;
    background-image: url(https://t4.ftcdn.net/jpg/04/40/14/83/360_F_440148365_9pVxXHSUCXAKVJqCVQLYyUkm41tg4ou3.jpg);
    background-repeat: no-repeat;
    background-size: 495px;
    background-position: center;
    background-color: beige;
}

.twitter {
    width: 80px;
    height: 80px;
}
.insta {
    width: 80px;
    height: 80px;
}
.facebook {
    width: 80px;
    height: 80px;
}
.gmail {
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}